
    /* Contenedor principal */
    .form-login {
      width: 100%;
      padding: 50px;
      padding-bottom: 50%;
    }
    
    .form-login h2 {
      font-size: 3em;
      color: black;
      text-align: center;
    }
    
    /* Estilo de los campos de entrada */
    .input-box {
      position: relative;
      width: 100%;
      height: 50px;
      border-bottom: 2px solid black;
    }
    
    .input-box label {
      position: absolute;
      top: 70%;
      left: 5px;
      transform: translateY(-50%);
      font-size: 1em;
      color: rgb(50, 50, 50);
      font-weight: 500;
      pointer-events: none;
    }
    
    .input-box input:focus ~ label,
    .input-box input:valid ~ label {
      color: rgba(0, 0, 0, 0); /* Ocultar el label al enfocarse o ser válido */
      transition: ease 0.3s;
    }
    
    .input-box input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      font-size: 1em;
      color: black;
      padding: 9px 35px 0 5px;
    }
    
    .input-box input:focus {
      outline: none;
    }
    
    .input-box i {
      position: absolute;
      right: 3px;
      bottom: -12px;
      font-size: 1.2em;
      color: black;
      line-height: 57px;
    }
    
    /* Estilo adicional del formulario */
    .recordar-ayuda {
      font-size: 0.9em;
      color: #1e1f1f;
      margin: -15px 0 15px;
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
    }
    
    /* .btn {
      width: 100%;
      height: 45px;
      background-color: #80ED99;
      border: none;
      outline: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 1em;
      color: black;
      font-weight: 500;
    }
    
    .btn:hover {
      transition: ease-in-out 0.3s;
      transform: scale(150%); 
    } 
  
    .btn {
    width: 100%;
    height: 45px;
    background-color: #80ED99;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    transform: scale(1.1); 
    background-color: #57CC99;
  }
*/